
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <img class="img-fluid" src="images/slide1.jpeg" alt="">
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
